.searchBar {
    padding: 1rem 3rem;
    background: var(--whiteColor);
    gap: 1rem;
    box-shadow: 1px 0px 4px var(--greyText);

    input {
        border: none;
        outline: none;
        background: none;
    }

    .icon {
        color: var(--textColor);
        &:hover {
            color: var(--PrimaryColor);
        }
    }
}