.listView {
  width: 100%;
  .search {
    gap: 2rem;
  }
  .listing {
    margin-top: 1rem;
  }
  .filterDate {
    vertical-align: middle;
    button {
      border: none;
      .icon {
        font-size: var(--biggestFontSize);
      }
    }
    .dateString {
      font-size: var(--h1FontSize);
      font-weight: 500;
    }
  }
}

.modal-content {
  border: none;
  border-radius: none;
}
