.listView {
  width: 100%;
  .search {
    gap: 2rem;
  }
  .listing {
    margin-top: 1rem;
  }
  .filterDate {
    vertical-align: middle;
    button {
      border: none;
      .icon {
        font-size: var(--biggestFontSize);
      }
    }
    .dateString {
      font-size: var(--h1FontSize);
      font-weight: 500;
    }
  }
}

.modal-content {
  border: none;
  border-radius: none;
}

//Detai Report Page
.detail {
  &-cover-report {
    display: flex;
  }
  &-content {
    &-left {
      min-width: 50px;
      margin-right: 3px;
    }
    &-right {
      &.title {
        font-weight: 500;
        font-size: 200%;
        margin-left: 50px;
      }
      &.body {
        font-size: 150%;
        padding-top: 10px;
      }
      &.email {
        font-weight: 500;
        font-size: medium;
      }
      &.impact {
        font-size: medium;
        padding-top: 10px;
      }
      span {
        &.resolved {
          background-color: greenyellow;
          padding: 2px 5px;
          border-radius: 10px;
          color: green;
          font-weight: bold;
        }
        &.unresolved {
          background-color: pink;
          padding: 2px 5px;
          border-radius: 10px;
          color: red;
          font-weight: bold;
        }
      }
      span {
        &.low {
          color: #0b8b36;
          font-weight: bold;
        }
        &.medium {
          color: #e7a618;
          font-weight: bold;
        }
        &.high {
          color: #a30b0b;
          font-weight: bold;
        }
      }
    }
  }
}

.report-form {
  position: relative;
  background: white;
  padding: 24px;
  min-height: calc(70vh - 60px);
  box-shadow: 1px 11px 15px rgba(65, 50, 50, 0.1);
  display: flex;
  flex-direction: column;
}

//Tree style
.main-layout {
  background-color: var(--whiteColor);
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 11px 15px rgba(65, 50, 50, 0.1);
  .title {
    margin: 2rem;
    font-weight: 600;
    height: fit-content;
  }
  &.line {
    margin: 0;
    padding: 0;
  }
  &.row {
    margin-left: 0;
  }

  .image {
    padding-top: 3rem;
    margin: 0 0 0 auto;
    img {
      height: 15rem;
      width: auto;
    }
  }

  .detail-content {
    width: 40%;
    font-size: var(--h2FontSize);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 0 auto;

    .detail-content-parent {
      display: flex;
      margin-bottom: auto;
      align-items: center;
      justify-content: space-between;

      .detail-content-child-label {
        width: 50%;
        font-weight: 600;
        color: var(--PrimaryColor);
        margin-bottom: none;
      }
      .detail-content-child-value {
        font-size: var(--h2FontSize);
        font-weight: bold;
        margin-bottom: none;
      }
    }
  }
  .btnLink {
    width: 6rem;
    padding: 0.5rem;
    background-color: var(--whiteColor);
    --bs-btn-border-radius: none;
    color: var(--PrimaryColor);
    border-radius: 1.5rem;
    border: 2px solid var(--PrimaryColor);
    font-weight: bold;
    &:hover {
      background-color: var(--PrimaryColor);
      border: 2px solid var(--PrimaryColor);
    }
  }
  .btnCancel {
    padding: 0.5rem;
    width: 6rem;
    background-color: var(--whiteColor);
    --bs-btn-border-radius: none;
    color: #c82333;
    border-radius: 1.5rem;
    border: 2px solid #c82333;
    font-weight: bold;
    &:hover {
      background-color: #c82333;
      border: 2px solid #c82333;
    }
  }
  .detail-cover {
    margin-bottom: 2rem;
  }
  .button-cover {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .linkCode {
    color: var(--blackColor);
    text-decoration: none;

    &:hover {
      color: var(--PrimaryColor);
    }
  }
}

.google-map {
  button {
    min-width: revert;
  }

  .btn-save {
    width: 100%;
    height: 50px;
    margin: 0;
  }

  .address {
    width: 100%;
    padding: 5px 10px;
  }
}
