.listView {
  width: 100%;

  .search {
    gap: 2rem;
  }

  .listing {
    margin-top: 1rem;
  }

  .filterDate {
    vertical-align: middle;

    button {
      border: none;

      .icon {
        font-size: var(--biggestFontSize);
      }
    }

    .dateString {
      font-size: var(--h1FontSize);
      font-weight: 500;
    }
  }
}

.modal-content {
  border: none;
  border-radius: none;
}

/* Detail Report Page */
.swal2-input {
  font-size: 16px;
  padding: 10px;
  width: 80%;
  height: 200px;
  background-color: #f8f9fa;
  color: #495057;
  border-radius: 4px;
  border: 1px solid #ced4da;
  resize: vertical;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.swal2-input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.swal2-radio {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.swal2-radio label {
  font-size: 16px;
  color: #495057; // dark gray
}

.swal2-radio input {
  margin-right: 5px;
}

.detail {

  &-content {

    &-left {
      min-width: 3rem;
      margin-right: 20px;
      padding: 10px;
      border-right: 1px solid #ddd;
    }

    &-right {
      padding: 0.75rem;

      &.body {
        font-size: 1.1rem;
        font-weight: 400;
        color: #333;
        width: 33%;
      }

      &.impact {
        font-size: medium;
        padding: auto;
        color: #555;
      }

      span {
        padding: 2px 5px;
        border-radius: 10px;
        font-weight: bold;

        &.resolved {
          background-color: #d4edda;
          color: #155724;
        }

        &.unresolved {
          background-color: #f8d7da;
          color: #721c24;
        }

        &.low {
          color: #0b8b36;
        }

        &.medium {
          color: #e7a618;
        }

        &.high {
          color: #a30b0b;
        }
      }
    }
  }
}

.report-form {
  position: relative;
  background: white;
  padding: 24px;
  min-height: calc(70vh - 60px);
  box-shadow: 1px 11px 15px rgba(65, 50, 50, 0.1);
  display: flex;
  flex-direction: column;
}

//Tree style
.main-layout {
  background-color: var(--whiteColor);
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-between;
  box-shadow: 1px 11px 15px rgba(65, 50, 50, 0.1);

  .title {
    font-weight: 900;
    height: fit-content;
    padding-left: 2rem;
    text-decoration: underline;
    text-decoration-color: lightgrey;
  }

  &.line {
    margin: 0;
    padding: 0;
  }

  &.row {
    margin-left: 0;
  }

  .image {
    padding-top: 3rem;
    margin: 0 0 0 auto;

    img {
      height: 15rem;
      width: auto;
    }
  }

  .detail-content {
    width: 40%;
    font-size: var(--h2FontSize);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 0 auto;

    .detail-content-parent {
      display: flex;
      justify-content: space-between;

      .detail-content-child-label {
        width: 50%;
        font-weight: 500;
        color: var(--PrimaryColor);
      }

      .detail-content-child-value {
        font-size: var(--h2FontSize);
        font-weight: bold;
        text-align: right;
      }
    }
  }

  .btnLink {
    width: 6rem;
    padding: 0.5rem;
    background-color: var(--whiteColor);
    --bs-btn-border-radius: none;
    color: var(--PrimaryColor);
    border-radius: 1.5rem;
    border: 2px solid var(--PrimaryColor);
    font-weight: bold;

    &:hover {
      background-color: var(--PrimaryColor);
      border: 2px solid var(--PrimaryColor);
    }
  }

  .btnCancel {
    padding: 0.5rem;
    width: 6rem;
    background-color: var(--whiteColor);
    --bs-btn-border-radius: none;
    color: #c82333;
    border-radius: 1.5rem;
    border: 2px solid #c82333;
    font-weight: bold;

    &:hover {
      background-color: #c82333;
      border: 2px solid #c82333;
    }
  }

  .detail-cover {
    margin-top: 1rem;
  }

  .detail-cover-report {
    display: flex;
    justify-content: space-between;

    .image-container {
      width: 40%;
    }

    .address-container {
      width: 35%;
    }
  }

  .button-cover {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .linkCode {
    color: var(--blackColor);
    text-decoration: none;

    &:hover {
      color: var(--PrimaryColor);
    }
  }
}

.google-map {
  button {
    min-width: revert;
  }

  .btn-save {
    width: 100%;
    height: 50px;
    margin: 0;
  }

  .address {
    width: 100%;
    padding: 5px 10px;
  }
}

.image-container {
  margin: 1rem;
  width: 40%;
  margin-left: 7%;
  margin-right: auto;

  .image-gallery-slides img {
    height: 350px;
    width: 100%;
    object-fit: contain;
  }

  .image-gallery-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}