.spinner {
  position: fixed;
  top: 50%;
  right: 42.5%;
}

.bd-form {
  --bd-form-padding: 1.5rem;
  position: relative;
  margin-top: 25px;
  min-width: 60rem;
  .table {
    background-color: var(--whiteColor);
    thead {
      &.thread-primary {
        border-collapse: collapse;
        caption-side: bottom;
        tr {
          th {
            border-bottom: 2px solid darken(#f2f3f8, 6%);
            padding: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: var(--blackColor);
            text-align: center;
          }
        }
      }
    }
    tbody {
      background-color: var(--whiteColor);
      td {
        border: none;
        padding: 0.5rem;
        font-size: var(--normalFontSize);
        vertical-align: middle;
      }
      .shortText {
        text-align: center;
        img {
          height: 10rem;
          width: auto;
        }
      }
      .linkCode {
        color: var(--PrimaryColor);
        text-decoration: none;
      }
      .linkCode:hover {
        background-color: var(--paleGreen);
      }

      .btn {
        position: relative;
        color: var(--textColor);
        z-index: 1000;
        box-shadow: none;
        font-size: var(--h3FontSize);
      }
      .btn:hover {
        color: var(--PrimaryColor);
      }
    }
  }
}

.left-th {
  text-align: left;
  transform: translateX(-38px);
}
.left-th-1 {
  text-align: left;
  transform: translateX(-20px);
}

.font-bold {
  font-weight: bold;
}

.green-text {
  color: var(--PrimaryColor) !important;
}

.red-text {
  color: var(--redColor) !important;
}

.pagination {
  .page-item {
    .page-link {
      padding: 0.5rem;
      min-width: 2rem;
      text-align: center;
      box-shadow: none !important;
      color: var(--blackColor);
      border-color: var(--inputColor);

      &:hover {
        background-color: var(--paleGreen);
      }
    }
  }
  .page-item.active {
    .page-link {
      color: var(--whiteColor) !important;
      background-color: var(--PrimaryColor) !important;
    }
  }
}
.success-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-right: 1rem;

  button {
    --bs-btn-border-radius: 2rem;
    height: 3.5rem;
    font-weight: bold;
  }
  .iconAdd {
    font-size: 2rem;
    margin-right: 0.25rem;
  }
}
.addForm {
  border: none;
  border-radius: none;
}
.modal-content {
  border: none;
  border-radius: none;
}
