.main-layout {
    margin: none;
    display: flex;
    justify-content: center;

    .image {
        padding-top: 5rem;
        img {
            height: 15rem;
            width: auto;
        }
    }

    .detail-content {
        // margin-left: 5rem;
        width: 40%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        .detail-content-parent {
            display: flex;
            margin-bottom: none;
            align-items: center;
            justify-content: space-between;

            .detail-content-child-label {
                font-weight: 1000;
                color: var(--PrimaryColor);
                margin-bottom: none;
            }
            .detail-content-child-value {
                font-size: var(--h2FontSize);
                font-weight: bold;
                margin-bottom: none;
            }
        }
    }
    .btnLink {
        width: 7rem;
        height: 3rem;
        background-color: var(--whiteColor);
        --bs-btn-border-radius: none;
        color: var(--PrimaryColor);
        border-radius: 1.5rem;
        border: 2px solid var(--PrimaryColor);
        font-weight: bold;
        &:hover {
            background-color: var(--PrimaryColor);
            border: 2px solid var(--PrimaryColor);
        }
    }
    .btnCancel {
        width: 7rem;
        height: 3rem;
        background-color: var(--whiteColor);
        --bs-btn-border-radius: none;
        color: #c82333;
        border-radius: 1.5rem;
        border: 2px solid #c82333;
        font-weight: bold;
        &:hover {
            background-color: #c82333;
            border: 2px solid #c82333;
        }
    }
    .detail-cover {
        box-shadow: 0 4px 5px rgba(131, 131, 131, 0.1);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: var(--whiteColor);
        justify-content: space-between;
    }
    .button-cover {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
    }
    .linkCode {
        color: var(--blackColor);
        text-decoration: none;

        &:hover {
            color: var(--PrimaryColor);
        }
    }
}


.google-map {
    height: 60vh;
    width: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    button {
        min-width: revert;
    }
    display: flex;
    flex-direction: column;
    background-color: green;

    .btn-save {
        width: 100%;
        height: 50px;
        margin: 0;
    }


    .address {
        width: 100%;
        padding: 5px 10px;
    }
}