.datepicker {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}
.react-datepicker-wrapper {
    width: 100%;
}
.form-base {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    > div {
        width: calc(50% - 15px);
    }
    div:last-child {
        width: 100%;
    }
    button {
        min-width: 100px;
        margin-right: 50px;
        float: right;
        --bs-btn-border-radius: none;
        border: none;
    }
    input {
        height: 40px;
        width: calc(100% - 20px);
    }
    input:hover {
        box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
    }
    input::placeholder {
        color: grey;
        font-style: italic;
        font-size: 1rem;
    }
    .btnPosi {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 3rem;
        margin-bottom: 4rem;
    }
    .btnSave {
        background-color: white;
        --bs-btn-border-radius: none;
        color: var(--PrimaryColor);
        border-radius: 1.5rem;
        border: 2px solid var(--PrimaryColor);
        font-weight: bold;
        &:hover {
            background-color: var(--PrimaryColor);
            border: 2px solid var(--PrimaryColor);
        }
    }
    .btnCancel {
        background-color: white;
        --bs-btn-border-radius: none;
        color: #c82333;
        border-radius: 1.5rem;
        border: 2px solid #c82333;
        font-weight: bold;
        &:hover {
            background-color: #c82333;
            border: 2px solid #c82333;
        }
    }
}

.form-cover {
    background: white;
    padding: 24px;
    border-radius: 16px;
    min-height: calc(100vh - 150px);
    box-shadow: 1px 11px 15px rgba(65, 50, 50, 0.1);
    display: flex;
    flex-direction: column;
    h4 {
        border-bottom: 1px solid rgb(212, 212, 212);
        padding-bottom: 12px;
    }
    > form {
        padding-top: 10px;
    }
}
