name: CI/CD Deploy project for FE

# Event trigger git action
on:
  workflow_dispatch: # manual run action
      inputs:
        logLevel:
          description: 'Log level'
          required: true
          default: 'warning'
          type: choice
          options:
          - info
          - warning
          - debug
        tags:
          description: 'Test scenario tags'
          required: false
          type: boolean
        environment:
          description: 'Environment to run tests against'
          type: environment
          required: true
  push: # when push to branch
    branches: [ "dev" ]  # choose branch dev
    paths: 
      - 'Webapp/environment-app/**'

env: 
   # For run build react => can not run build becasue CI = true
  CI: false

jobs:
  #Job deploy front-end to the server
  deploy-fe:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Build React app
        run: | 
          cd Webapp/environment-app
          rm -rf package-lock.json
          npm cache clean --force
          npm i
          npm i -S @react-google-maps/api
          npm run build
          
      - name: Copy files to Azure VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{secrets.AZURE_VM_PASSWORD}}
          port: 22
          source: "./Webapp/environment-app/dist/**"
          target: C:\inetpub\wwwroot\AmbatuGraduate\FE
          strip_components: 3
