name: CI/CD Deploy project for BE

# Event trigger git action
on:
  workflow_dispatch: # manual run action
  push: # when push to branch
    branches: [ "dev" ]  # choose branch dev
    paths: 
      - 'Webapp/Quan_ly_moi_truong_Web/**'
      
jobs:
  #Job deploy back-end to the server
  deploy-be:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x' # Replace with your desired .NET version

      - name: Build and Publish
        run: |
          dotnet build ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release
          dotnet publish ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release -o ./BE
          
      - name: Remove existing files and folders on Azure VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{ secrets.AZURE_VM_PASSWORD }}
          port: 22
          script: |
            del /F /Q C:\inetpub\wwwroot\AmbatuGraduate\BE\*
            for /D %%i in (C:\inetpub\wwwroot\AmbatuGraduate\BE\*) do rmdir /S /Q "%%i"
            
      - name: Copy files to Azure VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{secrets.AZURE_VM_PASSWORD}}
          port: 22
          source: "BE/**"
          target: C:\inetpub\wwwroot\AmbatuGraduate\BE
          strip_components: 1
