name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]
  

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x' # Replace with your desired .NET version

      - name: Build and Publish
        run: |
          dotnet build ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release
          dotnet publish ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release -o ./urban-be
          
      - name: Copy files to Azure VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{secrets.AZURE_VM_PASSWORD}}
          port: 22
          source: "urban-be/**"
          target: C:\inetpub\wwwroot
