name: CI/CD Deploy project

# Event trigger git action
on:
  workflow_dispatch: # manual run action
  push: # when push to branch
    branches: [ "dev" ]  # choose branch dev
  pull_request: # when pull from branch
    branches: [ "dev" ] # choose branch dev

env: 
   # For run build react => can not run build becasue CI = true
  CI: false

jobs:
  #Job deploy back-end to the server
  deploy-be:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x' # Replace with your desired .NET version

      - name: Build and Publish
        run: |
          dotnet build ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release
          dotnet publish ./Webapp/Quan_ly_moi_truong_Web/API/API.csproj --configuration Release -o ./BE
          
      - name: Copy files to Azure VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{secrets.AZURE_VM_PASSWORD}}
          port: 22
          source: "BE/**"
          target: C:\inetpub\wwwroot\AmbatuGraduate
          
  #Job deploy front-end to the server
  deploy-fe:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.x'

      - name: Build React app
        run: | 
          cd Webapp/environment-app
          npm cache clean --force
          npm i
          npm run build
          
      - name: Copy files to Azure VM
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          password: ${{secrets.AZURE_VM_PASSWORD}}
          port: 22
          source: "./Webapp/environment-app/build/**"
          target: C:\inetpub\wwwroot\AmbatuGraduate\FE
          strip_components: 3
